[submodule "esbuild-compress"]
	path = build/esbuild-compress
	url = https://github.com/polyipseity/esbuild-compress.git
	branch = main
[submodule "obsidian-api"]
	path = obsidian-api
	url = ../obsidian-api.git
	branch = master
[submodule "obsidian-plugin-library"]
	path = obsidian-plugin-library
	url = ../obsidian-plugin-library.git
	branch = main
[submodule "obsidian-plugin-template"]
	path = obsidian-plugin-template
	url = ../obsidian-plugin-template.git
	branch = main
[submodule "obsidian-show-dotfiles"]
	path = obsidian-show-dotfiles
	url = ../obsidian-show-dotfiles.git
	branch = main
[submodule "obsidian-terminal"]
	path = obsidian-terminal
	url = ../obsidian-terminal.git
	branch = main
