[submodule "obsidian-api"]
	path = obsidian-api
	url = ../obsidian-api.git
	branch = forks/polyipseity
[submodule "obsidian-modules"]
	path = obsidian-modules
	url = ../obsidian-modules.git
	branch = main
[submodule "obsidian-plugin-library"]
	path = obsidian-plugin-library
	url = ../obsidian-plugin-library.git
	branch = main
[submodule "obsidian-plugin-template"]
	path = obsidian-plugin-template
	url = ../obsidian-plugin-template.git
	branch = main
[submodule "obsidian-releases"]
	path = obsidian-releases
	url = ../obsidian-releases.git
	branch = master
[submodule "obsidian-show-hidden-files"]
	path = obsidian-show-hidden-files
	url = ../obsidian-show-hidden-files.git
	branch = main
[submodule "obsidian-terminal"]
	path = obsidian-terminal
	url = ../obsidian-terminal.git
	branch = main
